.item{
    float:left;
    width: max-content;
}

.select{
    width: 100%;
    border-radius: 50%;
    margin: 20px;
}

.select:hover{
    border: 2px solid red;
    cursor: pointer;
    margin: 18px;
}