.item{
    max-width: 20%;
    max-height: 80%;
}

.select{
    max-width: 100%;
    border-radius: 50%;
    margin: 3px;
}

.select:hover{
    border: 3px solid red;
    cursor: pointer;
    margin: 0px;
}

.subtext {
    text-align: center;
    font-size: max(3vw, 18px);
}