.inactivo{
    text-decoration: none;
    color: black;
    background-color: darkgray;
    padding: 10px 20px;
}

.activo {
    text-decoration: none;
    color: darkblue;
    background-color: #b0a2da;
    padding: 10px 20px;
}  

nav{
    display:flex;
    align-items: left;
    justify-content: center;
}