.inactivo{
    text-decoration: none;
    color: black;
    background-color: darkgray;
    padding: 10px 20px;
}

.activo {
    text-decoration: none;
    color: goldenrod;
    background-color: blueviolet;
    padding: 10px 20px;
}  