.board {
    border-collapse: collapse;
    margin: 10px;
    width: 70vw;
    max-width: calc(100% - 20px);
    justify-self: center;
}

th , td {
    border: solid 1px white;
    text-align: center;
}

.playerName {
    font-size: min(6vw, 2rem); 
    font-weight: 600; 
}

.playerScore {
    font-size: min(5vw, 1.5rem);
    color: whitesmoke; 
}
  