.board {
    border-collapse: collapse;
    margin: 10px;
    width: 30rem;
    max-width: calc(100% - 20px);
    justify-self: center;
}
th , td {
    border: solid 1px white;
    text-align: center;
}

.playerName {
    font-size: 2rem; 
    font-weight: 600; 
}
  

.playerScore {
    font-size: 1.125rem;
    color: whitesmoke; 
}
  