.selectorContainer{
    display: column;
    align-items: center;
    justify-content: center;
}

.results{
    display: grid;
    align-items: center;
    justify-content: center;
    width: max(100% 320px);
}

button {
    font-size: large;
}