.selector {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5vh solid goldenrod;
    border-radius: 20px;

    width: 70vw;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    padding: 0 10px;
}