.selector {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 0.5vh goldenrod;
    border-style: groove;
    border-radius: 20px;

    width: 85vw;
    /* max-width: calc(100% - 20px); */
    max-width: calc(90% - 20px);

    
    max-height: fit-content;

    margin: 0 auto;
    padding: 10px;
}