.gameContainer{
    display:grid;
    align-items: center;
    justify-content: center;
}

.selectorContainer {
    align-items: baseline;
}

.column {
    float: left;
    width: 48%;
    margin: 10px;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.resultContainer{
    display: flex;
    align-items: center;
}

button {
    width:100%;
}