.homeContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bigTitle{
    font-size: max(3vw, 36px);
    margin: 10px;
    width: 70vw;
    max-width: calc(100% - 20px);
    text-align: center;
}

.subtitle{
    font-size: max(2vw, 28px);
    margin: 10px;
    width: 50vw;
    max-width: calc(100% - 20px);
    text-align: center;
}

input{
    margin: 10px;
    width: 50vw;
}

.errImage{
    height: 50vh;
    max-height: calc(100% - 20px);
    max-width: calc(100% - 20px);
}

.ruleList {
    font-size: max(2vw, 18px);
    margin: 10px;
}